:root{
    --primary-color: #E19019;
    --secondary-color: #1B6DB6;
    --accent1-color: #34A7D9;
    --accent2-color: #0C275F;
    --floral-white: #FFFAEF;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
}

p, a, figcaption{
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color)
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color)
}

html{
    width: 950px;
}

header{
    align-items: center;
    align-content: center;
    height: 20dvh;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 5px solid var(--accent2-color);
}

header img{
    height: auto;
    width: 150px; 
}

header nav{
    width: 90%;
    display: flex;
    font-weight: 500;
}

header nav a{
    font-size: 18px;
    width: 100%;
    margin: 10px;
    text-align: center;
}

main{
    background-color: #1B6DB6;
}

.hero{
    position: relative;
    text-align: center;
    height: 80dvh;
    overflow: hidden;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    font-size: 45px;
    top: 40px;
    background-color: #979797a8;
    width: 100%;
    height: 65px;
    text-transform: uppercase;
}

.hero article{
    position: absolute;
    top: 35%;
    left: 12.5%;
    width: 75%;
    height: 30%;
    background-color: #0b7aaa9d;
    padding: 20px;
}

.hero article p{
    color: var(--floral-white);
    text-align: justify;
    font-weight: normal;
}

.hero article img{
    float: right;
    margin-left: 20px;
    width: 225px;
}

.history{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history h2{
    text-align: center;
    font-size: 30px;
}

.history .content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.history p {
    color: var(--floral-white);
    width: 65%;
    margin: 0;
}

.history img {
    width: 30%;
    height: auto;
    object-fit: contain;
    margin-left: 5%;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 10px solid var(--accent2-color);
}

.gallery h2{
    font-size: 30px;
    text-align: center;
}

.gallery .content{
    display: grid;
    margin: auto;
    margin-bottom: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    }

.gallery figcaption{
    color: var(--floral-white);
    text-align: center;
    font-weight: 400;
}

.gallery img{
    width: 90%;
    height: auto;
}

footer {
    align-items: center;
    background-color: var(--accent1-color);
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 100%;
}

.footer-images {
    display: flex;
    gap: 10px;
}

footer p{
    color: var(--floral-white);  
}

footer a img{
    width: 35px;
    height: auto;
}