:root{
    --primary-color: #0C275F;
    --secondary-color: #E19019;
    --accent1-color: #1B6DB6;
    --accent2-color: #34A7D9;
}

*{
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color)
}

p{
    font-family: 'Montserrat', sans-serif;
    color: var(--accent1-color)
}